<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XPEPEList.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <XPEPEList.My.MySettings>
            <setting name="SQLIP" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLDB" serializeAs="String">
                <value />
            </setting>
        </XPEPEList.My.MySettings>
    </userSettings>
</configuration>
